{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'generator/view_questions.css' %}">
    <title>View Generated Questions</title>
</head>
<body>
    <h1>View Generated Questions</h1>
    <table border="1">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'generate_questions' %}">Go Back</a>
    <br><br>
    <!-- Button to redirect to the "Use Questions" page -->
    <button>
        <a href="{% url 'edit_questions' csv_file_name=csv_file_name %}">Edit Questions</a>
    </button>
    <button onclick="showDownloadPopup()">
        <a href="{% url 'download_csv' csv_file_name %}" download>Download</a>
    </button>
</body>
</html>
